.show {
  width: 80%;
  max-width: 786px;
  background-image: url(../../../i/img/show-bg-m.jpg);
  background-position-x: left;
  padding-bottom: 20px;

  &_main-text {
    text-align: right;
    margin-right: 70px;
    width: 270px;
    color: #f9e853;
  }

  &_vent-snart {
    margin-bottom: 60px;
    background: #f54ea4;
    margin-right: 40px;
    width: 245px;
  }

  &_title {
    font-size: 48px;
    text-align: right;
    margin-right: 70px;

    &_sec {
      text-align: right;
      margin-right: 70px;
    }
  }
}
