.heroes {
  &_title {
    width: 80%;
    &_name {
      font-size: 45px;
      line-height: 45px;
    }
    &_text1 {
      margin-bottom: 20px;
    }
  }

  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 30px;
    grid-template-areas:
      "first sec"
      "third  forth"
      "fifth  sixth"
      "seventh seventh";
    &_block {
      padding-top: 160px;
      width: 100%;
      margin-bottom: 25px;

      &_1 {
        grid-area: first;
      }
      &_2 {
        grid-area: sec;
      }
      &_3 {
        grid-area: third;
      }
      &_4 {
        grid-area: forth;
      }
      &_5 {
        grid-area: fifth;
      }
      &_6 {
        grid-area: sixth;
      }
      &_7 {
        grid-area: seventh;
        width: 285px;
      }
    }

    &_block_img {
      width: 200px;
      max-width: 2000px;
      top: -120px;

      &_2 {
        width: 155px;
      }
    }

    &_block_2 {
      margin-top: 55px;
    }
  }
}
