@import "header";
@import "banner";

@import "title";
@import "statinfo";
@import "programs";
@import "teachers";
@import "prices";
@import "advantages";
@import "signup";
@import "footer";
@import "about";
@import "arrow";
@import "nav";
