.kontakt {
  width: 100%;

  &_block {
    width: 80%;

    // max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
    &_h1 {
      display: none;
    }
    &_txt {
      display: none;
    }
    &_number {
      background-size: cover;
      border-radius: 40px;
      padding: 50px 0 35px;
      font-size: 45px;
      font-weight: bold;
      color: #ffffff;
      &_gratis {
        font-size: 24px;
        padding: 10px;
        margin-top: 60px;
        // margin-bottom: 25px;
      }
    }
  }

  &_btn {
    &_btn1 {
      margin-right: 20px;
    }
    &_btn2 {
      margin-left: 20px;
    }
  }
}

.second-h1 {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  padding: 20px 0;
  color: #ffffff;
  letter-spacing: 1.2px;
  font-family: $wowFontFamily;
  //   margin-top: 25px;
}
.second-txt {
  display: block;
  color: #c1f285;
  font-size: 14px;
  line-height: 14px;
  font-family: $mainFontFamily;
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
