.show {
  width: 100%;
  max-width: 575px;
  &_title {
  }
  &_txt {
    max-width: 50%;
  }
  &_list {
    width: 100%;
    // max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    &_block {
      width: 100%;
    }
  }
}

.bg {
  // max-width: 800px;
}
