.show {
  // width: 80%;
  background-image: url(../../../i/img/show-bg-m.jpg);
  background-position-x: left;
  padding-bottom: 45px;
  &_title {
    text-align: right;
    margin-right: 50px;
    padding-top: 65px;
    &_sec {
      text-align: right;
      padding-top: 8px;
      margin-right: 50px;
    }
  }
  &_main-text {
    text-align: right;
    width: 270px;
    margin-right: 50px;
    color: #ffca6c;
  }

  &_vent-snart {
    margin-right: 50px;

    background: #f54ea4;
  }
}
