.teachers {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-size: 48px;
  }

  &__list {
    &__item {
      &__title {
        &:hover {
          color: $main;
        }
      }
    }
  }
}
