.title {
  &__title {
    font-size: 48px;
  }

  &__description {
    font-size: 20px;
  }
  &__button-and-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
  }

  &__phone-section {
    margin-top: 0;
    margin-left: 15px;
    &:hover .number {
      background-color: $dark-grey;
    }
  }

  &__button-section {
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;

    &__button {
      &:hover {
        color: #fff;
        &:after {
          width: 100%;
        }
      }
    }
  }
  &__circle {
    &:hover {
      background-color: $dark-grey;
    }
  }
}
