.title-div {
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  &_text {
    font-size: 50px;
    line-height: 55px;
    text-align: center;
  }
  &_motor {
    position: relative;
    width: 100vw;
    left: -17vw;

    height: 606px;
    display: block;
    margin-bottom: 145px;

    &_button {
      font-size: 19px;
      line-height: 70px;
      max-width: 360px;
      width: 360px;
      padding: 11px 16px;
      border-radius: 60px;
      background: #ffe500;
      color: #3a3a3a;
      font-weight: 600;
      position: absolute;
      bottom: -90px;
      left: 228px;
      text-align: left;
      text-decoration: none;
      line-height: 22px;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.25px;
      height: auto;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      &::before {
        content: url(../../../i/img/play-icon.png);
        margin-right: 70px;
        vertical-align: middle;
      }
    }

    &_img {
      position: absolute;
      width: 600px;
      max-width: 600px;
    }
  }

  &_list_ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "f s"
      "t l";
    column-gap: 30px;
    row-gap: 30px;
  }
  &_item {
    margin-bottom: 0;
    &_1 {
      grid-area: f;
    }
    &_2 {
      grid-area: s;
      &::after {
        top: 30px;
      }
    }
    &_3 {
      grid-area: t;
      &::after {
        top: 30px;
      }
    }
    &_4 {
      grid-area: l;
    }
  }
}
