.banner {
  display: flex;
  width: 90%;
  justify-content: space-around;
  max-width: 80%;
  padding-top: 35px;
  min-height: 515px;
  &_main {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
  }

  &_title {
    text-align: left;
    max-width: 350px;
    margin-top: 75px;
    font-size: 50px;
    line-height: 50px;
  }

  &_text {
    text-align: left;
    max-width: 350px;
  }

  &_img-block {
    // position: relative;
    // width: 500px;
    padding-right: 40px;
    position: relative;
  }

  &_img {
    position: absolute;
    // width: 70%;
    // height: 70%;
    // max-width: max-content;
    // left: 40px;

    // // margin-bottom: initial;
    max-width: 596px;
    margin-top: 170px;
    width: 100%;
  }

  &_main {
    padding-left: inherit;
  }

  &_button {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
  }
}
