.banner {
  display: flex;
  width: 90%;
  justify-content: space-around;
  max-width: 100%;
  padding-top: 35px;
  min-height: 515px;
  background-image: url(../../../i/img/bg-1200.png);

  &_main {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
  }

  &_title {
    text-align: left;
    max-width: 350px;
    margin-top: 75px;
    font-size: 50px;
    line-height: 50px;
  }

  &_text {
    text-align: left;
    max-width: 350px;
  }

  &_img-block {
    width: 500px;
    padding-right: 40px;
    position: relative;
  }

  &_img {
    position: absolute;
    bottom: 0;
    max-width: initial;
    width: 100%;
  }

  &_main {
    padding-left: inherit;
  }

  &_button {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
  }
}
