.footer {
  &_inn {
    display: grid;

    grid-template-areas:
      "logo soc"
      "txt tlf";
  }

  &_logo {
    grid-area: logo;
  }

  &_main-text {
    grid-area: txt;
    text-align: left;
    font-size: 13px;

    width: 50%;
  }
  &_div-1200 {
    grid-area: soc;

    display: grid;
    gap: 10px;
    text-align: right;
    margin-top: 20px;
    grid-template-areas: "logotext smlogo";
  }

  &_sosial-media {
    gap: 10px;
    grid-area: smlogo;
  }

  &_sec-text {
    display: block;
    color: white;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    grid-area: logotext;
  }

  &_location {
    display: block;
    color: white;
    color: white;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    border-top: 1px ridge white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &_tlf {
    font-size: 30px;
    grid-area: tlf;
    text-align: right;
  }
}
