.form {
  // width: 80%;
  // max-width: 1800px;
  background-repeat: no-repeat;
  background-image: url(../../../i/img/form-bg.jpg);
  background-size: cover;
  background-position: top;

  &_img {
    width: 90%;
  }

  &_btn {
    font-size: 16px;
  }

  &_text {
    margin-bottom: 15px;
  }
}

.form_for-1200 {
  display: flex;
  gap: 40px;
  justify-content: center;

  &_text {
    display: flex;
    flex-direction: column;
  }
}
