.form {
  display: grid;
  grid-template-areas:
    "title img"
    "main img";
  column-gap: 50px;
  background-image: none;
  background: linear-gradient(180deg, #ffd600 0%, #ffd910 100%);
}
.form_img-1500 {
  display: block;
  grid-area: img;
  width: 100%;
  max-width: 390px;
}
.form_img {
  display: none;
}
.form_title {
  grid-area: title;
  max-width: 760px;
}

.form_for-1200 {
  grid-area: main;
}
.form_text {
  width: 100%;
}

.form_btn {
  padding: 30px 115px;
}
