.kontakt {
  width: 80%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  &_block {
    width: 100%;
    max-width: 1000px;
    &_number {
      background-image: url(../../../i/img/blue_box_2.jpg);
      background-size: 1065px 570px;
    }
  }
}
