.prices {
  max-width: 85%;
  &_pack {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;

    &_block {
      width: 100%;
      max-width: 600px;
      min-width: 300px;
      height: 690px;
      &_listin {
        height: 500px;
      }

      &_price_2_old {
        margin-top: 0;
      }
      &_price_3_old {
        margin-top: 0;
      }

      &_price_1 {
        margin-top: 48px;
      }
    }
  }
  &_extra {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

