.show {
  width: 80%;
  max-width: 1800px;

  &_list {
    margin-bottom: 30px;
  }

  &_list_block {
    width: 70%;
    max-width: 650px;
  }
  &_title {
    font-size: 44px;
    line-height: 1.2;
    margin-top: 30px;
  }
  &_txt {
    max-width: 390px;
  }
}

.bg {
  background-image: url(../../../i/img/bubbles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  padding: 5px 0;
}
