.title-div {
  width: 90%;
  max-width: 1200px;
  display: flex;

  // display: grid;
  // grid-template-columns: 50% 50%;
  // grid-template-rows: 1fr 1fr;
  // grid-template-areas:
  //   "f-1200 s-1200"
  //   "l-1200";

  &_motor {
    flex-grow: 1;
    width: 65vw;
    // grid-area: f-1200;

    &_img {
      width: 500px;
      max-width: 500px;
      top: 25px;
      left: 80px;
    }
    &_button {
      bottom: -15px;
      left: 235px;
    }
  }

  &_text {
    text-align: left;
    margin-top: 80px;
    margin-bottom: 45px;
    // grid-area: s-1200;
  }

  &_list {
    // grid-area: l-1200;

    &_ul {
      grid-template-rows: 160px 160px;
    }
  }
}

.div-for1200 {
  flex-grow: 1;
}
