.title-div {
  width: 90%;
  max-width: 1200px;
  display: flex;

  // display: grid;
  // grid-template-columns: 50% 50%;
  // grid-template-rows: 1fr 1fr;
  // grid-template-areas:
  //   "f-1200 s-1200"
  //   "l-1200";

  &_motor {
    flex-grow: 1;
    width: 65vw;
    // grid-area: f-1200;
  }

  &_text {
    margin-top: 80px;
    margin-bottom: 45px;
    // grid-area: s-1200;
  }

  &_list {
    // grid-area: l-1200;
  }
}

.div-for1200 {
  flex-grow: 1;
}
