//-----------------------------FONTS-----------------------------
$google-font: "https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600&family=Zilla+Slab:wght@400;500;600;700&display=swap";

$mainFontFamily: "Source Sans 3", sans-serif;
$titleFontFamily: "Capriola", serif;
$descriptionFontFamily: "Love Ya Like A Sister", cursive;
$wowFontFamily: "Zilla Slab", sans-serif;

// -----------------------------COLORS-----------------------------
$main: #f39f5f;
$dark-grey: #385469;
$blue: #cfe1e4;
$grey: #385469b2;
$white: #ffffff;
$dark-blue: #70a6b1;
$blue-bg: #c9dde2;
$beige: #f4eee5;
$beige-transparent: rgba(96%, 93%, 90%, 0.9);
$border: #d9dfda;
$blue-programs: #eff5f6;
$rating-border: #bfd7db;
$rating-string: #f0ad4e;
$signup-button: rgba(112, 166, 177, 1);
$footer-border: #e4dfd9;
