.header {  
    
    &_contacts {
        padding: 0;
        text-align: center;
        margin-left: 14px;
    }
    // *ICONS OF CONTACTS

    &_sosial-media {
        display:flex;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 20px;
            padding-inline-start: 0;
        &_inst {
            margin-right: 5px;
        }
        &_fb {
            margin-left: 5px;
        }
    }
}

