.banner {
  // display: flex;
  // width: 90%;
  // justify-content: space-between;
  // max-width: 80%;
  &_main {
  }

  &_title {
    text-align: left;
    max-width: 495px;
    margin-left: 65px;
    // margin-top: 75px;
    font-size: 55px;
    line-height: 55px;
  }

  &_text {
    margin-left: 0;
  }

  &_img {
    width: 80%;
    height: 80%;
  }

  &_button {
    margin-left: 65px;
  }
}
