.banner {
  width: 90%;

  &_main {
    width: 550px;
    max-width: 550px;
    min-width: 550px;
    padding: 0 15px 90px;
  }
  &_title {
    text-align: left;
    max-width: 495px;
    margin-left: 65px;
    font-size: 80px;
    line-height: 80px;
  }

  &_img-block {
    width: 550px;
  }

  &_text {
    margin-left: 0;
    max-width: 400px;
  }

  &_button {
    margin-left: 65px;
  }
}
