.for-image {
  display: block;
  position: absolute;
  right: 0;
  bottom: -15px;
}

.where-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 500px;
  overflow: hidden;
  position: relative;
}

.where_title {
  text-align: left;
}

.where {
  &_title {
    margin-top: 45px;
  }
}
