.advantages {
  margin-top: 90px;

  padding: 64px 10px 80px;
  &__intro {
    @include intro;
    margin-bottom: 12px;
    margin-top: 0;
  }

  &__title {
    @include h2;
    margin: 0;

    padding-bottom: 64px;
  }

  &__list {
    list-style-type: none;
    padding-inline-start: 0;

    &__item {
      padding-left: 120px;
      margin-bottom: 40px;
      &__title {
        font-size: 26px;
        line-height: 1.1em;
        margin: 0;
        font-family: $titleFontFamily;
        font-weight: 400;
        color: $dark-grey;
        position: relative;
        padding-top: 4px;

        &::before {
          content: "";
          background-size: 48px 48px;
          background-repeat: no-repeat;
          background-position: center;
          left: -120px;

          border-radius: 30px;
          width: 98px;
          height: 98px;
          position: absolute;
        }

        &_1 {
          &::before {
            content: "";
            background-image: url(../i/optim/toys.svg);
            background-color: $beige;
          }
        }
        &_2 {
          &::before {
            content: "";
            background-image: url(../i/optim/learning.svg);
            background-color: $rating-border;
          }
        }

        &_3 {
          &::before {
            content: "";
            background-image: url(../i/optim/rooms.svg);
            background-color: $beige;
          }
        }
        &_4 {
          &::before {
            content: "";
            background-image: url(../i/optim/play.svg);
            background-color: $rating-border;
          }
        }

        &_5 {
          &::before {
            content: "";
            background-image: url(../i/optim/food.svg);
            background-color: $beige;
          }
        }

        &_6 {
          &::before {
            content: "";
            background-image: url(../i/optim/safe.svg);
            background-color: $rating-border;
          }
        }
      }

      &__description {
        margin-top: 14px;
        opacity: 0.7;
        line-height: 1.6em;
        font-size: 16px;
        color: $dark-grey;
      }

      &__container {
        min-height: 98px;
      }
    }
  }
}
