.feedback {
  // width: 100%;
  //  width: 90%;
  margin-top: 20px;
  // max-width: 470px;
  // margin-left: auto;
  // margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  background-image: url(../i/img/bgfeedbackparty.jpg);
  // background-color: #f4eeee;
  opacity: 0.9;
  background-size: cover;
  // background-position-x: left;
  background-position-y: bottom;
  // background: linear-gradient(
  //   0deg,
  //   rgba(254, 139, 5, 1) 0%,
  //   rgba(254, 200, 17, 1) 100%
  // );
  text-align: center;
  // border-radius: 40px;
  &_title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 800;
    font-family: $wowFontFamily;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
  }
  &_img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 20px;
  }
}
