.header {
  background-color: #f0ecec;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20000; /* Чтобы хедер был выше других элементов */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  // *LOGO
  &_logo {
    display: none;
    line-height: 0;
    margin-bottom: 15px;

    &_img {
      width: 125px;
    }
  }

  // *MENU
  &_menu {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-color: #3a3a3a;
    &_img {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      border-color: #3a3a3a;
      margin: auto;
    }
  }

  // *TEXT NEAR LOGO
  &_text-logo {
    color: #3a3a3a;
    font-size: 15px;
    font-family: $mainFontFamily;
    display: none;
  }

  // *CONTACTS
  &_contacts {
    padding-right: 20px;

    &_text {
      color: #3a3a3a;
      font-size: 10px;
      line-height: 15px;
      font-family: $mainFontFamily;
    }
    &_phone {
      color: #3a3a3a;
      font-size: 25px;
      font-family: $wowFontFamily;
      font-weight: bold;
    }
  }

  // *ICONS OF CONTACTS

  &_sosial-media {
    display: none;
  }
}

// --Список вкладок
.header_tabs {
  display: none;
}
