.header {
  background-color: black;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // *LOGO
  &_logo {
    display: none;
    line-height: 0;

    &_img {
      width: 125px;
    }
  }

  // *MENU
  &_menu {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-color: white;
    &_img {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      border-color: white;
      margin: auto;
    }
  }

  // *TEXT NEAR LOGO
  &_text-logo {
    color: white;
    font-size: 15px;
    font-family: $wowFontFamily;
    display: none;
  }

  // *CONTACTS
  &_contacts {
    padding-right: 20px;

    &_text {
      color: white;
      font-size: 10px;
      line-height: 15px;
      font-family: $mainFontFamily;
    }
    &_phone {
      color: white;
      font-size: 25px;
      font-family: $wowFontFamily;
      font-weight: bold;
    }
  }

  // *ICONS OF CONTACTS

  &_sosial-media {
    display: none;
  }
}
