.heroes {
  &_title {
    margin-top: 65px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    &_name {
      font-size: 28px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 1.2px;
      font-weight: 800;
      font-family: $wowFontFamily;
      color: #3a3a3a;
    }
    &_text1 {
      display: block;
      text-align: center;
      padding: 20px 0 34px;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #f1419c;
      font-family: $mainFontFamily;
      margin-bottom: 65px;
    }
  }

  &_grid {
    &_block {
      width: 70%;
      max-width: 430px;

      margin-top: 70px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0 0 50px #e4d8e4;
      border-radius: 20px;
      position: relative;
      text-align: center;
      color: #3a3a3a;
      font-size: 15px;
      line-height: 22px;
      font-family: $mainFontFamily;
      font-weight: 400;
      letter-spacing: 0.25px;
      padding-top: 125px;
      &_img {
        position: absolute;
        top: -125px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        max-width: 250px;

        margin: 0 auto;
        z-index: 1000;

        left: 50%;
        transform: translate(-50%, 0);

        &_2 {
          width: 130px;
        }
        &_3 {
          width: 180px;
        }
      }

      &_1 {
        margin-top: 55px;
      }

      &_btn {
        font-size: 12px;
        line-height: 14px;
        background: linear-gradient(90.86deg, #ae67fd 0.17%, #fc67d6 99.85%);
        border-radius: 64px;
        box-shadow: none;
        display: block;
        text-transform: uppercase;
        border: none;
        font-family: $mainFontFamily;
        letter-spacing: 1px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        padding: 16px;
        text-align: center;
        max-width: none;
        margin: 0 auto;
        width: 185px;
        text-decoration: none;
        // color: #004b91;
        color: #fff;

        cursor: pointer;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          background: linear-gradient(90.86deg, #b874ff 0.17%, #ff74e6 99.85%);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
          transform: translateY(-2px);
        }
      }

      &_heroes {
        font-family: $wowFontFamily;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1px;

        display: block;
        cursor: pointer;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
  }
}
