.teachers {
  padding-bottom: 60px;
  padding-top: 90px;
  margin-bottom: 90px;
  &__intro {
    @include intro;

    margin-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  &__title {
    @include h2;
    margin: 0;
  }

  &__list {
    list-style-type: none;
    padding-inline-start: 0;
    &__item {
      padding: 40px 40px 30px;

      &__img {
        width: 100%;
        max-width: 100%;
        border-radius: 100%;
        cursor: pointer;
      }
      &__title {
        margin-bottom: 4px;
        font-size: 30px;
        line-height: 1.2em;
        font-family: $titleFontFamily;
        font-weight: 400;
        color: $dark-grey;
        text-align: center;
        cursor: pointer;
        margin-top: 25px;
        &:active {
          color: $main;
        }
      }

      &__description {
        opacity: 0.7;
        color: $dark-grey;
        text-align: center;
        margin: 0;
      }
    }
  }
}
