.tilleg {
  &_title {
    // margin-bottom: 1.5em;
    padding-bottom: 39px;
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 28px;
    padding: 20px 0;
    color: #3a3a3a;
    font-weight: 800;
    letter-spacing: 1.2px;
    font-family: $wowFontFamily;
  }

  &_list {
    list-style: none;
    padding-inline-start: 0px;
    &_frame {
      padding: 0 15px;
      margin-top: 15px;
    }
  }

  &_item-bg {
    border-radius: 40px 40px 0 0;

    background: #ffd600;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    padding: 1.3em 1em;
    height: max-content;
    &_2 {
      background: #f366db;
    }
    &_3 {
      background: #ff0650;
    }
    &_4 {
      background: #5497de;
    }
    &_5 {
      background: #ec6f6f;
    }
    &_6 {
      background: #9f40ff;
    }
    &_7 {
      background: #5ab8c3;
    }
    &_8 {
      background: #ffc226;
    }
  }

  &_item-img {
    width: 100%;
    border-radius: 0 0 40px 40px;
  }

  &_item-description {
    display: none;
  }
}

.tilleg-help-block {
  width: fit-content;
  height: fit-content;
  position: relative;
  border-radius: 0 0 40px 40px;
}

// --ПРИ НАВЕДЕНИИ НА БЛОК

.tf:hover .tilleg_item-img {
  visibility: hidden;
}
.tf:hover .tilleg-help-block {
  background-image: url(/i/img/kids.jpg);
  background-size: cover;
  background-position: top;
  background-color: rgba(58, 58, 58, 0.95);
  background-blend-mode: overlay;

  margin-top: auto;
  margin-bottom: auto;
  transition: 1s;

  .tilleg_item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    font-size: 16px;

    line-height: 1.2;
    padding: 40px;
    color: white;
    font-weight: 500;
    font-family: $wowFontFamily;
    z-index: 2000;
  }

  .tilleg_item-description_price {
    background-color: #ff0650;
    margin-top: 40px;
    border-radius: 40px;
    text-align: center;
    width: fit-content;
    padding: 10px 30px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}
