.tilleg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &_texthelp {
    display: block;
    text-align: center;
    padding: 20px 0 34px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f1419c;
    font-family: $mainFontFamily;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  &_title {
    // margin-bottom: 1.5em;
    padding-bottom: 39px;
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 28px;
    padding: 20px 0;
    color: #3a3a3a;
    font-weight: 800;
    letter-spacing: 1.2px;
    font-family: $wowFontFamily;
  }

  &_list {
    list-style: none;
    padding-inline-start: 0px;
    &_frame {
      padding: 0 15px;
      margin-top: 15px;
      cursor: pointer;
    }
  }

  &_item-bg {
    border-radius: 40px 40px 0 0;

    background: #ffd600;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    padding: 1.3em 1em;
    height: max-content;
    &_2 {
      background: #f366db;
    }
    &_3 {
      background: #ff0650;
    }
    &_4 {
      background: #5497de;
    }
    &_5 {
      background: #ec6f6f;
    }
    &_6 {
      background: #9f40ff;
    }
    &_7 {
      background: #5ab8c3;
    }
    &_8 {
      background: #ffc226;
    }
    &_9 {
      background: #84c916;
    }
    &_10 {
      background: #26ccff;
    }
    &_11 {
      background: #e92b9a;
    }
  }

  &_item-img {
    width: 100%;
    border-radius: 0 0 40px 40px;
  }

  &_item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    font-size: 14px;

    line-height: 1.2;
    padding: 20px;
    color: white;
    font-weight: 500;
    font-family: $wowFontFamily;
    z-index: 2000;
    visibility: hidden;

    &_price {
      background-color: #ff0650;
      margin-top: 20px;
      border-radius: 40px;
      text-align: center;
      width: fit-content;
      padding: 10px 30px;
      font-size: 12px;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      max-width: 90%;

      &_second {
        background-color: #33b31a;
        margin-top: 10px;
        border-radius: 40px;
        text-align: center;
        width: fit-content;
        padding: 10px 30px;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        max-width: 90%;
      }
    }
  }
}

.tilleg-help-block {
  width: fit-content;
  height: fit-content;
  position: relative;
  border-radius: 0 0 40px 40px;
  background-image: url(/i/img/tilleghover.jpg);
  background-size: cover;
  background-position: top;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(58, 58, 58, 0.95);
  background-blend-mode: overlay;
}

// --ПРИ НАВЕДЕНИИ НА БЛОК

// .tilleg_list_frame:hover .tilleg_item-img {
//   visibility: hidden;
// }
// .tilleg_list_frame:hover .tilleg-help-block {
//   background-image: url(/i/img/kids.jpg);
//   background-size: cover;
//   background-position: top;
//   background-color: rgba(58, 58, 58, 0.95);
//   background-blend-mode: overlay;
//   visibility: visible;
//   margin-top: auto;
//   margin-bottom: auto;

//   .tilleg_item-description {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     display: block;
//     font-size: 14px;

//     line-height: 1.2;
//     padding: 20px;
//     color: white;
//     font-weight: 500;
//     font-family: $wowFontFamily;
//     z-index: 2000;
//     visibility: visible;
//   }

//   .tilleg_item-description_price {
//     background-color: #ff0650;
//     margin-top: 20px;
//     border-radius: 40px;
//     text-align: center;
//     width: fit-content;
//     padding: 10px 30px;
//     font-size: 12px;
//     margin-left: auto;
//     margin-right: auto;
//     width: fit-content;
//     max-width: 90%;

//     &_second {
//       background-color: #33b31a;
//       margin-top: 10px;
//       border-radius: 40px;
//       text-align: center;
//       width: fit-content;
//       padding: 10px 30px;
//       font-size: 12px;
//       margin-left: auto;
//       margin-right: auto;
//       width: fit-content;
//       max-width: 90%;
//     }
//   }
// }
