.title {
  padding: 15px 15px 0px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  &__intro {
    font-family: $descriptionFontFamily;
    font-size: 20px;
    font-weight: 500;
    line-height: 1em;
    color: $main;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 9px;
  }

  &__title {
    text-align: center;
    font-family: $titleFontFamily;
    font-size: 40px;
    line-height: 1.25em;
    font-weight: 400;
    letter-spacing: 0;
    color: $dark-grey;
    margin-top: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 10px;

    &_span {
      color: $main;
    }
  }

  &__description {
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    color: $grey;
    margin-top: 26px;
  }
  &__button-section {
    margin-top: 70px;
    text-align: center;
    &__button {
      @include button;
      min-width: 210px;
      font-size: 14px;
      position: relative;
    }
    &__arrow {
      width: 27px;
      position: absolute;
      top: 11px;
      right: 40px;
    }
  }
  &__phone-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;

    &:active .number {
      background-color: $dark-grey;
    }
  }
  &__circle {
    width: 50px;
    height: 50px;
    border: 2px solid none;
    border-radius: 50%;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.2s ease;
    &:active {
      background-color: $dark-grey;
    }
  }
  &__svg-call {
    width: 18px;
  }

  &__number-call {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: $titleFontFamily;
    color: $dark-grey;
    cursor: pointer;
  }

  &__slider {
    width: 100%;
    -webkit-mask-image: url(../i/title_mask.svg);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
  }

  &__slider-container {
    width: 100%;
    background-color: $blue;
    -webkit-mask-image: url(../i/title_mask.svg);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    margin-top: 60px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
  }
}
