.heroes {
  &_title_name {
    font-size: 40px;
    line-height: 44px;
  }
  &_grid {
    width: 90%;
    max-width: 800px;
    grid-template-areas:
      "first sec"
      "third  forth"
      "fifth  sixth"
      "seventh seventh";

    &_block {
      padding-top: 175px;
      &_img {
        width: 220px;

        &_2 {
          width: 155px;
        }
      }

      &_7 {
        width: 385px;
        max-width: 385px;
      }
    }
  }
}
