.kontakt {
  width: 90%;
  max-width: 800px;
  &_block {
    &_number {
      padding: 25px 0 55px;
      &_gratis {
        background-color: #1ab033;
      }
    }
  }
}

.second-h1 {
  font-size: 45px;
  line-height: 45px;
}
