.tilleg_item-description {
  font-size: 13px;
  &_price {
    font-size: 13px;
    width: 80%;

    &_second {
      font-size: 13px;
      width: 80%;
    }
  }
}
// .tilleg_list_frame:hover .tilleg-help-block {
//   .tilleg_item-description {
//     font-size: 13px;
//     &_price {
//       font-size: 13px;
//       width: 80%;

//       &_second {
//         font-size: 13px;
//         width: 80%;
//       }
//     }
//   }
// }
