.header {
  &_contacts {
    margin-right: 5px;
    text-align: right;
  }
  &_right-part {
    display: flex;
    align-items: center;
  }
  // *ICONS OF CONTACTS

  &_sosial-media {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 20px;
    padding-inline-start: 0;

    &_inst {
      margin-right: 5px;
      line-height: 0;
      &:hover {
        filter: brightness(120%);
      }
    }
    &_fb {
      margin-left: 5px;
      line-height: 0;
      &:hover {
        filter: brightness(120%);
      }
    }
  }
}
