.feedback {
  margin-top: 80px;
  margin-bottom: 40px;
  width: 80%;
  max-width: 1200px;
  background-image: url(/i/img/feedback-l.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  background-position-x: center;
  background-position-y: center;
  &_title {
    padding-bottom: 260px;
    text-align: left;
    padding-left: 80px;
    padding-top: 60px;
    color: #8b338e;
  }
  &_img {
    display: none;
  }
  &_shape {
    background-image: none;
  }
  &_text {
    margin-right: 20px;
    font-size: 30px;
  }
}
