// BUTTON

@mixin button {
  padding: 18px 67px 18px 40px;
  background-color: $main;
  border-radius: 22px;
  font-family: $mainFontFamily;

  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: color 0.25s ease-in-out;
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $dark-grey;
    z-index: -1;
    transition: width 0.25s ease-in-out;
  }
  &:focus {
    color: #fff;
    &:after {
      width: 100%;
    }
  }
  @content;
}

// INTRO
@mixin intro {
  color: $main;
  font-family: $descriptionFontFamily;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

// H2
@mixin h2 {
  font-family: $titleFontFamily;
  line-height: 1.1em;
  font-size: 36px;
  font-weight: 400;
  color: $dark-grey;
  text-align: center;
  margin-block-start: 0;
  letter-spacing: 0;
  margin-block-end: 0;
  @content;
}
